<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Huhuservlet</servlet-name>
        <servlet-class>Huhuservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarteServlet</servlet-name>
        <servlet-class>CarteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTanyServlet</servlet-name>
        <servlet-class>AddTanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTanyCarteServlet</servlet-name>
        <servlet-class>AddTanyCarteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBorneServlet</servlet-name>
        <servlet-class>AddBorneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Huhuservlet</servlet-name>
        <url-pattern>/Huhuservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarteServlet</servlet-name>
        <url-pattern>/CarteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTanyServlet</servlet-name>
        <url-pattern>/AddTanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTanyCarteServlet</servlet-name>
        <url-pattern>/AddTanyCarteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBorneServlet</servlet-name>
        <url-pattern>/AddBorneServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
